(
    name: "Recipe with single item",
    steps: [
        (
            time_s: 300,
            title: "Mix",
            note: Some("gently"),
            ingredients: [
                "avocado",
                "lemon",
            ],
            utensils: [
                "bowl"
            ],
            requires: [],
        ),
    ],
)
